@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background: none;
    font-size: 62.5%;
    font-size: 10px;
    background: #000;
    overflow-x: hidden;
}

/* floating background section */

canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  background: black;
  overflow: hidden;
  }

  /**
  * Text Box Overlay
  **/
  #ShipsLog {
  color: white;
  font-family: roboto;
  letter-spacing: 0.15em;
  width: 200px;
  margin: 30px 30px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px 20px 20px;
  border-radius: 8px;
  border: none;
  position: fixed;
  bottom: 5px;
  z-index: -1;
  opacity: 0.1;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  }
  #warps, #word, #star, #warp, #words, #stars{
      opacity: 0;
  }

  #ShipsLog:hover {
      background-color: rgba(90, 90, 85, 0);
  opacity: 0.6;
  }

  .leboli {
  display: inline-block;
  width: 80px;
  font-size: 0.8em;
  }

  input,
  .maneno {
  margin-top: 15px;
  }

  input[type="checkbox"] {
  display: none;
  }

  input[type="checkbox"]:checked + label {
  background-color: #f19d00;
  box-shadow: inset 2px 2px 4px #00000090, 2px 2px 3px #cccccc90;
  border: 2px solid transparent;
  }
/* end floating background section */

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
   
}

.nav div.logo a {
    text-decoration: none;
    color: red;
    font-size: 5.5rem;
    font-weight: 900;
    font-style: oblique;
}

.nav div.whited {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
 
}

.nav div.whited a {
  text-decoration: none;
  color: #fff;
  font-size: 5.5rem;
  font-weight: 900;
  font-style: oblique;
}

/* Shadow logo */

.nav div.logo-two {
    float: left;
    width: auto;
    height: auto;
    transform: rotateZ(180deg);
    margin-top: -14px;
    margin-left: -1.8%;
}

.nav div.logo-two a {
    text-decoration: none;
    color: #fff;
    font-size: 5.5rem;
    font-weight: 900;
    font-style: oblique;
    margin-left: -72px;
    z-index: -1;
}



/* end shadow logo */

/* Shadow logo */

.nav div.logo-twoo {
  float: left;
  width: auto;
  height: auto;
  transform: rotateZ(180deg);
  margin-top: -14px;
  margin-left: -2.2%;
}

.nav div.logo-twoo a {
  text-decoration: none;
  color: gold;
  font-size: 5.5rem;
  font-weight: 900;
  font-style: oblique;
  margin-left: -72px;
  z-index: -1;
}

.nav div.blackeed {
  float: left;
  width: auto;
  height: auto;
  transform: rotateZ(180deg);
  margin-top: -14px;
  margin-left: -2.2%;
}

.nav div.blackeed a {
  text-decoration: none;
  color: black;
  font-size: 5.5rem;
  font-weight: 900;
  font-style: oblique;
  margin-left: -72px;
  z-index: -1;
}



/* end shadow logo */

/* logo 2 logo */

.nav div.logo2 {
  float: left;
  width: auto;
  height: auto;
}

.nav div.logo2 a {
  text-decoration: none;
  color: gold;
  font-size: 5.5rem;
  font-weight: 900;
  font-style: oblique;
  margin-left: -72px;
  z-index: -1;
}

.nav div.blacked {
  float: left;
  width: auto;
  height: auto;
}

.nav div.blacked a {
  text-decoration: none;
  color: black;
  font-size: 5.5rem;
  font-weight: 900;
  font-style: oblique;
  margin-left: -72px;
  z-index: -1;
}



/* end logo  2*/

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: orange;
    font-weight: bold;
    transition: ease-in 0.4s;
    
}


/* Home section */

.home {
     background-size: cover;
	 position: relative;
    overflow: hidden;
    height: 95vh;
    margin-top: auto;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
    .nav div.logo-twoo {
      margin-left: -3%;
    }
    .nav div.logo-two {
      margin-left: -2.6%;
    }
    
}

@media(max-width:768px) {
  .nav div.logo-twoo {
    margin-left: -3.4%;
  }
  .nav div.logo-two {
    margin-left: -3%;
  }
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        margin-top: -40%;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
      position: relative;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #111;
      /*same background color of navbar*/
      background-position: top;
      margin-top: 20%;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
    
  .fakeScreen {
    margin-left: 50%;
    margin-top: 20%;
  }
  #miself{
    float: right;
    height: 300px;
    width: 200px;
    margin-top: -25%;
  }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: orange;
}






.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

/* image on the right */
.right-image{
  position: fixed;
  margin-left: 55vw;
 padding-right: 10px;
 cursor: pointer;

}

#miself:hover{
  
}

.overlay-right{
  margin-top: -45%;
  z-index: 12;
  background: #111;
  height: 100vh;
}
#miself{
  float: right;
  height: 800px;
  width: auto;
  z-index: -100;
}
/* end image on the right */

/* Hire Me button */
.hireMe{
    position: relative;
    padding: 10px 30px;
    margin: 0 10%;
    color:  orange;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    overflow: hidden;
    transition: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(255, 157, 9, 0.473));
}
/* .hireMe:nth-child(1){
    filter: hue-rotate(115deg);
}
.hireMe:nth-child(3){
    filter: hue-rotate(270deg);
} */
.hireMe:hover{
    background: orange;
    color: #111;
    box-shadow: 0 0 50px orange;
    transition-delay: 0.5s;

}

.hireMe::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid orange;
    border-left: 2px solid orange;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.hireMe:hover::before{
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}


.hireMe::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid orange;
    border-right: 2px solid orange;
    transition: 0.5s;
    transition-delay: 0.5s;
} 
.hireMe:hover::after{
    width: 100%;
    height: 100%;
    transition-delay: 0s;

}
/* end hire me button */

/* hACKER text decode */
.decode-text {
  position: fixed;
  width: 55%;
  font-size: 2rem;
  text-align: start;
  margin-top: 35vh;
  margin-left: 5%;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}

.space {
  display: inline-block;
  width: 10px;
}

.text-animation {
  display: inline-block;
  color: transparent;
  text-transform: uppercase;
}
.text-animation:before {
  content: '';
  color: orange;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 0;
  height: 1.2em;
  -webkit-transform: translate(-50%, -55%);
  -ms-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
}
.white{
  display: inline-block;
  color: transparent;
  text-transform: uppercase;
}
.white::after {
  content: '';
  text-decoration: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  background: orange;
  width: 0;
  height: 1.2em;
  -webkit-transform: translate(-50%, -55%);
  -ms-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
}
.text-animation.state-1:before {
  width: 1px;
}
.text-animation.state-2:before {
  width: .9em;
}
.text-animation.state-3 {
  color: orange;
}
.text-animation.state-3:before {
  width: 0;
}

#refresh {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

/* end hacker text decode */

/* skills section */

#pageHr {
  background: #fff;
  position: relative;
  height: 5px;
  display: block;
  right: 0px;
  left: 0px;
  top: 90%;
  z-index: 1;
}
#pageHr > i {
  margin: -25px;
  border: 5px solid #fff;
  height: 40px;
  width: 40px;
  background: #48cfad;
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: rotate(45deg);
}
#pageHr > i > i {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  line-height: 36.8px;
  font-size: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  position: absolute;
  color: #fff;
  display: block;
  transform: rotate(-45deg);
}
#skills {
  background: #37bc9b;
  overflow: hidden;
  position: relative;
  height: 90vh;
  top: 90%;
  padding: 10% 40px;
  text-align: center;
}
#skills a {
  color: #fff;
}


.heading_title{
  position: absolute;
  font-size: 5vmax;
  font-style: italic;
  font-family: monospace;
  margin-top: -8%;
  transform: skewY(-5deg);
  margin-left: 10%;
}

/* end skillls section */

/* Section two |About| */
.about, #about{
  background: orange;
}
.line-wave{
  position: absolute;
  z-index: 9999;
}

/* end about section */


/* skill section  */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  /* background: url(https://res.cloudinary.com/muhammederdem/image/upload/v1536405234/starwars/death_star.jpg) center no-repeat; */
  background-size: cover;
    background: orange;
  position: relative;
  overflow: hidden;
  display: flex;
}
@media screen and (max-width: 992px) {
  .wrapper {
    height: auto;
    min-height: 100vh;
 }
}
.content {
  height: 600px;
  margin: auto;
  width: 100%;
  max-width: 1050px;
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .content {
    max-width: 920px;
 }
}
@media screen and (max-width: 992px) {
  .content {
    max-width: 920px;
    margin-top: 100px;
    height: auto;
    min-height: 100vh;
 }
}


@media screen and (max-width: 767px) {
  .content {
    margin-top: 20px;
 }
}
@media screen and (max-width: 576px) {
  .content {
    margin-top: 20px;
    margin-bottom: 20px;
 }
}
.bg-shape {
  height: 100%;
  background-image: linear-gradient(-45deg, orange 0%, orangered 100%);
  box-shadow: 0px 30px 139px 0px rgba(10, 22, 31, 0.26);
  padding: 45px 40px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
    display: flex;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .bg-shape {
    width: 45%;
 }
}
@media screen and (max-width: 992px) {
  .bg-shape {
    width: 90%;
    height: 290px;
    align-items: flex-start;
    padding: 50px;
    left: 50%;
    /* transform: translateX(-50%); */
       transform: rotate(90deg) translateY(-50%);
      }
}
@media screen and (max-width: 767px) {
  .bg-shape {
    padding: 30px;
    width: 95%;
    border-radius: 20px;
 }
}
@media screen and (max-width: 576px) {
  .bg-shape {
    height: 200px;
    padding: 30px;
 }
}
.bg-shape img {
    object-fit: contain;
  width: 100%;
  display: block;
  object-position: left center;
  opacity: 0.2;
  transform: translateY(-50%); 
    /* transform: rotate(-90deg) translateY(-50%); */
  max-width: inherit;
  left: -30px;
  margin-top: 45%;
  position: absolute;
}
@media screen and (max-width: 1200px) {
  .bg-shape img {
    width: 100%;
    left: 10px;
 }
}
@media screen and (max-width: 992px) {
  .bg-shape img {
    transform: none;
    width: 100%;
    position: relative;
    left: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    height: 100%;
    object-position: top center;
 }
}
.next, .prev {
  z-index: 22;
  display: inline-flex;
  border: none;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  position: absolute;
  top: 50%;
  outline: none;
  cursor: pointer;
}
.next.disabled, .prev.disabled {
  cursor: not-allowed;
}
.next:focus, .prev:focus {
  outline: none;
}
@media screen and (max-width: 992px) {
  .next, .prev {
    top: 170px;
 }
}
.prev {
  left: -30%;
  transform: translate(-100%, -50%);
}
@media screen and (max-width: 1200px) {
  .prev {
    left: -21%;
 }
}
@media screen and (max-width: 992px) {
  .prev {
    left: 0;
    transform: translate(-50%, -50%);
 }
}
@media screen and (max-width: 576px) {
  .prev {
    transform: translate(20%, -50%);
 }
}
.next {
  right: 0;
  transform: translate(50%, -50%);
}
@media screen and (max-width: 576px) {
  .next {
    transform: translate(-20%, -50%);
 }
}
.product-slider {
  width: 75%;
  height: 85%;
  border-radius: 30px;
  box-shadow: 0 28px 79px 0 rgba(10, 22, 31, 0.35);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
@media screen and (max-width: 1200px) {
  .product-slider {
    width: 80%;
 }
}
@media screen and (max-width: 992px) {
  .product-slider {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    position: relative;
    top: 0;
    margin-top: 170px;
    margin-bottom: 100px;
 }
  .product-slider br {
    display: none;
 }
}
@media screen and (max-width: 767px) {
  .product-slider {
    border-radius: 20px;
 }
}
@media screen and (max-width: 576px) {
  .product-slider {
    width: 85%;
    margin-top: 130px;
 }
}
.product-slider__wrp {
  height: 100%;
}
.product-slider__item {
  position: relative;
  height: 100%;
  width: 100%;
  cursor: grab;
}
@media screen and (max-width: 992px) {
  .product-slider__item {
    height: auto;
 }
}
.product-slider__item.swiper-slide-active .product-slider__content > * {
  opacity: 1;
  transform: none;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(1) {
  transition-delay: 0s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(2) {
  transition-delay: 0.2s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(3) {
  transition-delay: 0.4s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(5) {
  transition-delay: 0.8s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(6) {
  transition-delay: 1s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(7) {
  transition-delay: 1.2s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(8) {
  transition-delay: 1.4s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(9) {
  transition-delay: 1.6s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(10) {
  transition-delay: 1.8s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(11) {
  transition-delay: 2s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(12) {
  transition-delay: 2.2s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(13) {
  transition-delay: 2.4s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(14) {
  transition-delay: 2.6s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(15) {
  transition-delay: 2.8s;
}
.product-slider__item.swiper-slide-active circle {
  animation: progress 1s ease-out forwards;
  animation-delay: 0.5s;
  opacity: 0.75;
}
.product-slider__card {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  transition: all 0.5s;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}
@media screen and (max-width: 992px) {
  .product-slider__card {
    align-items: flex-start;
 }
}
@media screen and (max-width: 767px) {
  .product-slider__card {
    border-radius: 20px;
 }
}
.product-slider__cover {
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .product-slider__cover {
    border-radius: 20px;
 }
}
.product-slider__content {
  color: #fff;
  padding-top: 1px;
  position: relative;
  z-index: 2;
  width: 100%;
  padding-left: 250px;
  padding-right: 80px;
}
@media screen and (max-width: 1200px) {
  .product-slider__content {
    padding-left: 220px;
 }
}
@media screen and (max-width: 992px) {
  .product-slider__content {
    padding: 20px 60px 100px;
    padding-top: 280px;
    text-align: center;
 }
}
@media screen and (max-width: 767px) {
  .product-slider__content {
    padding: 20px 30px 50px;
    padding-top: 300px;
 }
}
@media screen and (max-width: 576px) {
  .product-slider__content {
    padding-top: 220px;
    padding-left: 15px;
    padding-right: 15px;
 }
}
.product-slider__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 41px;
  line-height: 1.2em;
  letter-spacing: 2px;
  opacity: 0;
  transform: translateY(55px);
  transition: all 0.5s;
}
@media screen and (max-width: 1200px) {
  .product-slider__title {
    font-size: 34px;
 }
}
@media screen and (max-width: 576px) {
  .product-slider__title {
    font-size: 24px;
 }
}
.product-slider__price {
  display: block;
  font-size: 42px;
  opacity: 0;
  transform: translateY(55px);
  transition: all 0.5s;
}
@media screen and (max-width: 1200px) {
  .product-slider__price {
    font-size: 36px;
 }
}
@media screen and (max-width: 576px) {
  .product-slider__price {
    font-size: 30px;
 }
}
.product-slider__price sup {
  top: -20px;
  font-size: 65%;
}
.product-slider__cart {
  box-shadow: 0 7px 99px 0 rgba(212, 88, 17, 0.6);
  background-image: linear-gradient(-45deg, orange 0%, orangered 100%);
  border: none;
  color: #fff;
  padding: 10px 30px;
  border-radius: 50px;
  min-height: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  margin-right: 40px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
 
}

@media screen and (max-width: 768px) {
  .product-slider__cart {
    margin-right: 30px;
 }
}
@media screen and (max-width: 576px) {
  .product-slider__cart {
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
 }
}
.product-slider__fav {
  color: #888e94;
  background: none;
  border: none;
  position: relative;
  padding-left: 25px;
  outline: none;
  cursor: pointer;
}
.product-slider__fav:focus {
  outline: none;
}
.product-slider__fav .heart {
  display: block;
  position: absolute;
  left: 0;
  transform: translate(-50%, -50%) scale(0.7);
  top: 50%;
  pointer-events: none;
  width: 100px;
  height: 100px;
  background: url("https://res.cloudinary.com/muhammederdem/image/upload/v1536405215/starwars/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
.product-slider__fav .heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}
.product-slider__bottom {
  margin-top: 20px;
  opacity: 0;
  transform: translateY(55px);
  transition: all 0.5s;
}
.product-ctr {
  display: flex;
  align-items: center;
  min-height: 150px;
  margin-top: 40px;
  opacity: 0;
  transform: translateY(55px);
  transition: all 0.5s;
}
@media screen and (max-width: 992px) {
  .product-ctr {
    justify-content: center;
 }
}
.product-ctr .hr-vertical {
  width: 1px;
  background: #9fa3a7;
  align-self: stretch;
  margin: 0 35px;
  flex-shrink: 0;
  opacity: 0.5;
}
@media screen and (max-width: 767px) {
  .product-ctr {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
 }
  .product-ctr .hr-vertical {
    width: 100%;
    margin: 35px 0;
    height: 1px;
 }
}
@media screen and (max-width: 767px) {
  .product-labels {
    width: 100%;
 }
}
.product-labels__checkbox {
  display: none;
}
.product-labels__checkbox:checked + .product-labels__txt {
  border-color: orange;
  padding: 10px 13px;
}
.product-labels__title {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 16px;
  margin-bottom: 10px;
}
.product-labels__group {
  display: flex;
  margin-bottom: 15px;
}
@media screen and (max-width: 992px) {
  .product-labels__group {
    justify-content: center;
 }
}
.product-labels__group:last-child {
  margin-bottom: 0;
}
.product-labels__item {
  margin: 5px;
  cursor: pointer;
}
.product-labels__item:first-child {
  margin-left: 0;
}
.product-labels__txt {
  display: block;
  border: 2px solid transparent;
  font-size: 14px;
  padding: 10px 20px;
  padding-left: 0;
  border-radius: 50px;
  transition: all 0.3s;
  letter-spacing: 2px;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
 }
}
.product-inf {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .product-inf {
    width: 100%;
 }
}
.product-inf__percent {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 12px;
  font-family: 'Dosis', sans-serif;
  position: relative;
}
.product-inf__percent circle {
  transform: rotate(180deg) scaleY(-1);
  transform-origin: 50%;
}
.product-inf__percent-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-inf__title {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 18px;
}
.product-img {
  position: absolute;
  z-index: 2;
  width: 40%;
  left: 10%;
  height: 30%;
  pointer-events: none;
}
@media screen and (max-width: 1200px) {
  .product-img {
    width: 50%;
    left: 20%;
 }
}
@media screen and (max-width: 992px) {
  .product-img {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 50;
 }
}
@media screen and (max-width: 767px) {
  .product-img {
    width: 50%;
    max-width: 400px;
    top: 30px;
    height: 40%;
 }
}
@media screen and (max-width: 576px) {
  .product-img {
    max-width: 300px;
    height: 300px;
 }
}
.product-img__item {
  display: flex;
  align-items: center;
  position: absolute;
  pointer-events: none;
  user-select: none;
  width: 80%;
  height: 120%;
  top: 50%;
  right: 0;
  left: 0%; /*can be 0*/
  transform: translateY(-50%) translateX(-130px);
  opacity: 0;
  transition: all 0.3s;
}
.product-img__item.active {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
  transition-delay: 0.3s;
}
.product-img__item img {
  object-fit: contain;
  object-position: center right;
}
.social {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 100%;
  display: flex;
  padding: 20px 55px;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .social {
    flex-direction: column;
    bottom: 0;
 }
}
.social__item {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1em;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.social__item:hover {
  color: #fff;
}
@media screen and (max-width: 576px) {
  .social__item {
    margin-bottom: 10px;
 }
}
.social__img {
  width: 24px;
  margin-right: 15px;
}

/* end skill section */



@media(min-width:1024px) {
  /* .right-image{
    margin-top: -40%;
  } */
}



@media(max-width:1196px) {
  .terminal{
    margin-left: 25%;
  }
  #miself{
    height: 600px;
  }
}

@media(max-width:1024px) {
  .terminal{
    margin-left: 23%;
  }
  #miself{
    height: 600px;
  }
  .decode-text .smaller{
   font-size: 15px;
  }
}


@media(max-width:950px) {
  .terminal{
    margin-left: 45%;
  }
  #miself{
    height: 500px;
  }
  #about{
    margin-top: -5%;
  }
}

@media(max-width:850px) {
  .terminal{
    margin-left: 45%;
  }
  .decode-text .smaller{
    font-size: 12px;
   }
}


@media(max-width:768px) {
  body{
    background: url("./assets/images/background_graduate.png") no-repeat;
    background-position: -20vw -5vh;
  }
  .decode-text {
    width: 95%;
    font-size: 3vmax;
    text-align: start;
    margin-left: 5%;
    font-weight: 900;
    font: bolder;
  }
  .decode-text .smaller{
    font-size: 1.5rem;
   }
  
  
  .logo-twoo{
    margin-left: -15%;
  }
  .miself{
    margin-top: -70%;
    width: 100%;
    height: 60%;
  }
  .right-image{
    display: none;
  }
  .fakeScreen{
    margin-top: 0;
    width: 100%;
    margin-left: 0;
    height: 95vh;
    z-index: 0;
  }
  .terminal{
    position: relative;
    margin-top: 25%;
    margin-left: -20%;
    font-size:15px;
  }
  #about{
    margin-top: -10%;
  }
}


@media(max-width:568px) {
  .nav div.blackeed {
    margin-left: -4.5%;
  }
  .nav div.logo-two {
    margin-left: -5%;
  }
  .nav div.logo-twoo {
    margin-left: -4.5%;
  }
  .terminal{
    margin-left: -10%;
  }
  .code{
    font-size: 20px;
  }
  #about{
    margin-top: -20%;
  }
  .decode-text{
    font-size: 15px;
   }
}
@media(max-width:468px) {
  .nav div.blackeed {
    margin-left: -6%;
  }
  .nav div.logo-two {
    margin-left: -6.5%;
  }
  .nav div.logo-twoo {
    margin-left: -6%;
  }
  .fakeScreen{
    margin-top: 40%;
  }
  #about{
    margin-top: -25%;
  }
}
@media(max-width:396px) {
  .nav div.blackeed {
    margin-left: -7.5%;
  }
  .nav div.logo-two {
    margin-left: -8%;
  }
  .nav div.logo-twoo {
    margin-left: -7.5%;
  }
  .terminal{
    margin-left: -10%;
    margin-top: 40%;
  }
  .code{
    font-size: 15px;
  }
  #about{
    margin-top: -32%;
  }
  
}
@media(max-width:320px) {
  .nav div.blackeed {
    margin-left: -9.5%;
  }
  .nav div.logo-two {
    margin-left: -10%;
  }
  .nav div.logo-twoo {
    margin-left: -9.5%;
  }
  #about{
    margin-top: -42%;
  }
}
@media(max-width:290px) {
  #about{
    margin-top: -42%;
  }
  .terminal{
    position: relative;
    margin-top: 50%;
    margin-left: -15%;
    font-size:12px;
  }
  .nav div.blackeed {
    margin-left: -11%;
  }
  .nav div.logo-two {
    margin-left: -11.5%;
  }
  .nav div.logo-twoo {
    margin-left: -11%;
  }
}
/* end section about */